<div class="row">
  <div class="col-xs-12">
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <legend>Sign Up</legend>

      <%= f.input :email, autofocus: true %>

      <%= f.input :password, autocomplete: "off" %>

      <%= f.input :password_confirmation, autocomplete: "off" %>

      <%= f.submit 'Sign up', class: 'btn btn-primary' %>
    <% end %>

    <hr />

    <%= render "devise/shared/links" %>

  </div>
</div>
